// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .footerFluid {
            margin-top: 30px;
            background: #e8e9ff url('../img/bg/footerBg.png') no-repeat;
            color: #888;
            clear: both;
            line-height: 1.25em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                background-image: url('../img/bg/footeBgCurve.png');
                top: 0px;
            }

            & .footerContainer {
                & .footerPadding {
                    & .footerAddress {
                        & .footerAddressItem {
                            padding: 0;
                            margin: 0;
                            & .footerAddressItems {
                                list-style: none;
                                display: flex;
                                align-items: center;
                                margin-bottom: 30px;
                                & .phoneImg {
                                    width: 40px;
                                    height: 40px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50px;
                                    background-color: $theme1;
                                    position: relative;
                                    padding: 10px;
                                    transition: all 0.5s ease-in-out;
                                    -webkit-transition: all 0.5s ease-in-out;
                                    -moz-transition: all 0.5s ease-in-out;
                                    -ms-transition: all 0.5s ease-in-out;
                                    -o-transition: all 0.5s ease-in-out;
                                    cursor: pointer;
                                    &::after {
                                        content: "";
                                        height: 46px;
                                        width: 46px;
                                        left: -3px;
                                        top: -3px;
                                        opacity: 1;
                                        position: absolute;
                                        border-radius: 50%;
                                        border: 1px dashed $theme1;
                                        -webkit-transition: all 0.5s ease-in-out;
                                        -moz-transition: all 0.5s ease-in-out;
                                        -o-transition: all 0.5s ease-in-out;
                                        transition: all 0.5s ease-in-out; 
                                    }

                                    &:hover {
                                        &::after {
                                            -webkit-animation: spinAround 9s linear infinite;
                                            -moz-animation: spinAround 9s linear infinite;
                                            animation: spinAround 9s linear infinite;
                                            
                                            @include keyframes-animation(spinAround){
                                                0% {
                                                    -webkit-transform: rotate(0deg);
                                                            transform: rotate(0deg);
                                                }
                                                100% {
                                                    -webkit-transform: rotate(360deg);
                                                            transform: rotate(360deg);
                                                }
                                            }
                                        }
                                    }
                                }
                                & .addressContent {
                                    padding-left: 10px;
                                    font-size: 14px;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 400;
                                    letter-spacing: 0.5px;
                                    color: #888;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

